<!DOCTYPE html>
<html>
	<head>
		<script src="angular.js"></script>
		<script src="big.js/big.js"></script>
		<script src="rebase.js"></script>
		<script src="base.js"></script>
		<link href="style.css" rel="stylesheet">
		<link href="base.css" rel="stylesheet">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body ng-app="base">
		<section ng-scope ng-controller="number">
			Current number: {{number}}
			<div>
				<label for="dp">Number of &lsquo;decimal&rsquo; places</label>
				<input type="number" ng-model="decimalPlaces" id="dp" min="0"></input>
			</div>
			<div ng-repeat="b in bases">
				<label for="base-editor-{{b.id}}">Base</label>
				<input type="number" ng-model="b.base" id="base-editor-{{b.id}}" min="2" g-class="{ invalid: b.base <= 1 }"></input>
				<div base="b.base" number="$parent.number" label="Value"></div>
				<button ng-click="remove(b.id)">Remove</button>
			</div>
			<button ng-click="addBase()">Add</button>
			<a href="{{hash}}">Link to this result</a>
		</section>
	</body>
</html>