<!DOCTYPE html>
<html>
	<head>
		<script src="angular.js"></script>
		<script src="choose.js"></script>
		<script src="big.js/big.js"></script>
		<script src="biginput.js"></script>
		<script src="choose-big.js"></script>
		<link href="style.css" rel="stylesheet">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body ng-app="chooseBig">
		<section ng-scope ng-controller="choose">
			<input type="number" ng-model="a"> choose 
			<input type="number" ng-model="b"> = 
			<span>{{combinations(a, b)}}</span>

			<div>{{a}} pick {{b}} = {{permutations(a, b)}}</div>
			<div>{{a}}! = {{factorial(a)}}</div>
			<a href="#{{a}}C{{b}}">Link to this result</a>
		</section>

		<section ng-scope ng-controller="choose-big">
			<h1>big.js version</h1>

			<div big model="a"></div> choose
			<div big model="b"></div>
			<div ng-if="a && b"> =
				<span>{{combinations(a, b).toFixed(0)}}</span>
				<div>{{a.toFixed(0)}} pick {{b.toFixed(0)}} = {{permutations(a, b).toFixed(0)}}</div>
				<div>{{a.toFixed(0)}}! = {{factorial(a).toFixed(0)}}</div>
			</div>
			<a href="#{{a.toFixed(0)}}C{{b.toFixed(0)}}">Link to this result</a>
		</section>
	</body>
</html>