.dot-panel {
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	background: #eee;
}
.dot {
	display: block;
	position: absolute;
	border-radius: 50%;
	transition: all 0.3s; /* must match js */
	background: red; /* should be overridden */
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	border: 2px solid white;
}
.hiding {
	border: 0px solid white;
	/* whatever */
}