.triangle {
	position: relative;
}
.cell {
	position: absolute;
	line-height: 29px;
	text-align: center;
	width: 59px;
	height: 29px;
	border: 1px solid black;
	background: white;
}
.cell:hover {
	background: cyan;
}
.cell.hit {
	background: yellow;
}