<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<script src="big.js/big.js"></script>
		<script src="biginput.js"></script>
		<script src="pascal.js"></script>
		<link href="style.css" rel="stylesheet">
		<link href="pascal.css" rel="stylesheet">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body ng-app="pascal">
		<section ng-scope ng-controller="pascal">
			<label for="maxHits">Maximum hits</label> <input type="number" ng-model="maxHits" id="maxHits">
			<label for="maxRows">Maximum rows</label> <input type="number" ng-model="maxRows" id="maxRows">
			<label for="maxRows">Maximum cells</label> <input type="number" ng-model="maxCells" id="maxCells">
			<label for="rawN">N</label> <div big model="n"></div>
			<button ng-click="search(n)">Search</button>
			<button ng-click="search()">Draw All</button>
			<ul>
				<li ng-repeat="hit in hits">Row {{hit.y + 1}}, position {{hit.x + 1}} = {{hit.n.toFixed(0)}}</li>
			</ul>
			<div class="triangle">
				<div class="cell" ng-repeat="cell in triangle" ng-class="{ hit: cell.n.eq(n) }" ng-mouseenter="mouseIn(cell)" ng-mouseleave="mouseOut(cell)" ng-style="{ top: cell.y * 30 + 'px', left: cell.x * 60 + (rows - cell.y) * 30 + 'px', 'font-size': fontSize(cell.n) + 'px' }">
					{{cell.n.toFixed(0)}}
				</div>
				<div class="tooltip" ng-if="hoverValue">
					Cell {{hoverValue.x + 1}} of row {{hoverValue.y + 1}} = {{hoverValue.n.toFixed(0)}}
				</div>
			</div>
		</section>
	</body>
</html>